In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import xgboost as xgb
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
print(F'Список колонок в train.csv ({len(list(train.columns.values))}): {list(train.columns.values)}\n')
print(F'Список колонок в test.csv ({len(list(test.columns.values))}): {list(test.columns.values)}')

train.head()

Список колонок в train.csv (21): ['id', 'Leave_Next_Month', 'Gender', 'Pensioner', 'Married', 'Children', 'Months_with_company', 'Phone_Service', 'Multiple_Lines', 'Internet_Service', 'Online_Security', 'Online_Backup', 'Device_Protection', 'Tech_Support', 'Streaming_TV', 'Streaming_Movies', 'Type_contract', 'Paperless_Billing', 'Payment_Method', 'Monthly_Payment', 'Total_Payment']

Список колонок в test.csv (20): ['id', 'Gender', 'Pensioner', 'Married', 'Children', 'Months_with_company', 'Phone_Service', 'Multiple_Lines', 'Internet_Service', 'Online_Security', 'Online_Backup', 'Device_Protection', 'Tech_Support', 'Streaming_TV', 'Streaming_Movies', 'Type_contract', 'Paperless_Billing', 'Payment_Method', 'Monthly_Payment', 'Total_Payment']

,id,Leave_Next_Month,Gender,Pensioner,Married,Children,Months_with_company,Phone_Service,Multiple_Lines,Internet_Service,...,Online_Backup,Device_Protection,Tech_Support,Streaming_TV,Streaming_Movies,Type_contract,Paperless_Billing,Payment_Method,Monthly_Payment,Total_Payment
0,4,1,F,0,N,N,2,Y,N,Fiber optic,...,N,N,N,N,N,Per_month,Y,Check_electron,70.70,151.65
1,7,0,F,0,N,N,10,N,No_phone,DSL,...,N,N,N,N,N,Per_month,N,Check_mailed,29.75,301.9
2,8,1,F,0,Y,N,28,Y,Y,Fiber optic,...,N,Y,Y,Y,Y,Per_month,Y,Check_electron,104.80,3046.05
3,9,0,M,0,N,Y,62,Y,N,DSL,...,Y,N,N,N,N,Year-1,N,Bank_transfer_auto,56.15,3487.95
4,11,0,M,0,N,N,16,Y,N,N,...,No_internet,No_internet,No_internet,No_internet,No_internet,Year-2,N,Credit_card_auto,18.95,326.8

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
features = ['Gender', 'Pensioner', 'Married', 'Children', 'Months_with_company', 'Phone_Service', 'Multiple_Lines', 
            'Internet_Service', 'Online_Security', 'Online_Backup', 'Device_Protection', 'Tech_Support', 'Streaming_TV', 
            'Streaming_Movies', 'Type_contract', 'Paperless_Billing', 'Payment_Method', 'Monthly_Payment', 'Total_Payment']

In [3]:
train.dtypes

id                       int64
Leave_Next_Month         int64
Gender                  object
Pensioner                int64
Married                 object
Children                object
Months_with_company      int64
Phone_Service           object
Multiple_Lines          object
Internet_Service        object
Online_Security         object
Online_Backup           object
Device_Protection       object
Tech_Support            object
Streaming_TV            object
Streaming_Movies        object
Type_contract           object
Paperless_Billing       object
Payment_Method          object
Monthly_Payment        float64
Total_Payment           object
dtype: object

In [4]:
train.loc[ train['Total_Payment'] == ' ', 'Total_Payment'] = '0'

In [5]:
test.loc[ test['Total_Payment'] == ' ', 'Total_Payment'] = '0'

In [6]:
train[train['Total_Payment'] =='0']

,id,Leave_Next_Month,Gender,Pensioner,Married,Children,Months_with_company,Phone_Service,Multiple_Lines,Internet_Service,...,Online_Backup,Device_Protection,Tech_Support,Streaming_TV,Streaming_Movies,Type_contract,Paperless_Billing,Payment_Method,Monthly_Payment,Total_Payment
375,753,0,M,0,N,Y,0,Y,N,N,...,No_internet,No_internet,No_internet,No_internet,No_internet,Year-2,N,Check_mailed,20.25,0
691,1340,0,F,0,Y,Y,0,N,No_phone,DSL,...,Y,Y,Y,Y,N,Year-2,N,Credit_card_auto,56.05,0
1717,3331,0,M,0,Y,Y,0,Y,N,N,...,No_internet,No_internet,No_internet,No_internet,No_internet,Year-2,N,Check_mailed,19.85,0
1962,3826,0,M,0,Y,Y,0,Y,Y,N,...,No_internet,No_internet,No_internet,No_internet,No_internet,Year-2,N,Check_mailed,25.35,0

In [7]:
sorted(train['Total_Payment'].unique())

['0',
 '100.2',
 '100.25',
 '100.4',
 '100.9',
 '1001.5',
 '1004.35',
 '1004.5',
 '1006.9',
 '1007.8',
 '1008.55',
 '1008.7',
 '1009.25',
 '101.1',
 '1010',
 '1011.5',
 '1011.8',
 '1012.4',
 '1017.35',
 '102.45',
 '102.5',
 '102.75',
 '1020.2',
 '1020.75',
 '1022.5',
 '1022.95',
 '1023.9',
 '1024.7',
 '1025.05',
 '1025.15',
 '1026.35',
 '1028.75',
 '1029.35',
 '1031.1',
 '1031.4',
 '1033',
 '1033.9',
 '1033.95',
 '1035.5',
 '1039.45',
 '104.3',
 '1041.8',
 '1042.65',
 '1043.4',
 '1045.25',
 '1046.1',
 '1046.2',
 '1046.5',
 '1047.7',
 '1048.45',
 '1049.05',
 '1050.5',
 '1051.05',
 '1052.4',
 '1054.75',
 '1054.8',
 '1057',
 '1057.55',
 '1057.85',
 '1058.1',
 '1058.25',
 '106.2',
 '106.85',
 '106.9',
 '1062.1',
 '1067.65',
 '1068.15',
 '1068.85',
 '107.05',
 '107.1',
 '1070.15',
 '1071.4',
 '1071.6',
 '1072',
 '1074.3',
 '1074.65',
 '1077.05',
 '1077.5',
 '108.65',
 '108.7',
 '1080.55',
 '1081.25',
 '1081.45',
 '1082.8',
 '1083',
 '1087.45',
 '1088.25',
 '109.2',
 '109.8',
 '1092.35',
 '1093',
 '1095.65',
 '1097.15',
 '1099.6',
 '110.05',
 '110.15',
 '1101.85',
 '1103.25',
 '1107.25',
 '111.65',
 '1110.05',
 '1111.85',
 '1113.95',
 '1114.55',
 '1114.85',
 '1115.15',
 '1115.6',
 '1117.55',
 '1119.9',
 '112.3',
 '112.75',
 '1120.95',
 '1121.05',
 '1122.4',
 '1123.15',
 '1125.2',
 '1125.6',
 '1127.2',
 '1128.1',
 '1129.1',
 '1129.35',
 '113.1',
 '113.35',
 '113.5',
 '113.55',
 '113.85',
 '113.95',
 '1130',
 '1131.2',
 '1131.3',
 '1132.75',
 '1133.7',
 '1134.25',
 '1138.8',
 '1139.2',
 '114.15',
 '1140.05',
 '1144.5',
 '1146.05',
 '1146.65',
 '1148.1',
 '1149.65',
 '115.95',
 '1151.05',
 '1152.7',
 '1152.8',
 '1153.25',
 '1156.35',
 '1156.55',
 '1158.85',
 '116.6',
 '116.85',
 '116.95',
 '1160.75',
 '1161.75',
 '1162.85',
 '1164.3',
 '1165.6',
 '1166.7',
 '1167.6',
 '1167.8',
 '117.8',
 '1170.5',
 '1172.95',
 '1173.35',
 '1174.35',
 '1175.6',
 '1175.85',
 '1177.05',
 '1178.25',
 '118.25',
 '1180.95',
 '1183.2',
 '1185',
 '1187.05',
 '1189.9',
 '119.3',
 '119.75',
 '1191.2',
 '1191.4',
 '1198.05',
 '1198.8',
 '120.25',
 '1201.15',
 '1203.9',
 '1203.95',
 '1205.05',
 '1205.5',
 '1206.05',
 '1207',
 '1208.15',
 '1208.6',
 '121.25',
 '1212.1',
 '1212.85',
 '1214.05',
 '1215.1',
 '1215.6',
 '1218.25',
 '1218.45',
 '1218.55',
 '1218.65',
 '1219.85',
 '122',
 '122.9',
 '1222.05',
 '1222.25',
 '1225.65',
 '1228.65',
 '123.65',
 '1231.85',
 '1233.25',
 '1234.6',
 '1234.8',
 '1235.55',
 '1236.15',
 '1237.3',
 '1237.85',
 '1238.45',
 '124.45',
 '1240.15',
 '1240.25',
 '1240.8',
 '1242.45',
 '1246.4',
 '1248.9',
 '1249.25',
 '125.95',
 '1252.85',
 '1253.5',
 '1253.65',
 '1254.7',
 '1255.1',
 '1258.15',
 '1258.3',
 '1258.35',
 '1258.6',
 '1259.35',
 '1261.35',
 '1261.45',
 '1263.85',
 '1263.9',
 '1264.2',
 '1266.1',
 '1266.35',
 '1267.05',
 '1267.2',
 '1267.95',
 '1268.85',
 '1269.1',
 '1269.6',
 '127.1',
 '1270.2',
 '1270.55',
 '1272.05',
 '1273.3',
 '1274.05',
 '1274.45',
 '1275.6',
 '1275.65',
 '1275.7',
 '1275.85',
 '1278.8',
 '1279',
 '128.6',
 '1281',
 '1284.2',
 '1287.85',
 '1288.3',
 '129.15',
 '129.2',
 '129.55',
 '129.6',
 '1291.35',
 '1292.6',
 '1294.6',
 '1295.4',
 '1296.15',
 '1297.35',
 '1298.7',
 '130.1',
 '130.5',
 '1301',
 '1301.7',
 '1302.65',
 '1303.25',
 '1303.5',
 '1304.85',
 '1307.8',
 '1308.1',
 '131.05',
 '131.65',
 '1311.3',
 '1311.75',
 '1312.45',
 '1313.55',
 '1317.95',
 '1319.95',
 '132.25',
 '1322.55',
 '1323.7',
 '1325.85',
 '1326.25',
 '1326.35',
 '1327.15',
 '1329.2',
 '1331.05',
 '1334.45',
 '1336.1',
 '1336.35',
 '1336.8',
 '1338.15',
 '1339.8',
 '134.05',
 '134.5',
 '134.6',
 '134.7',
 '1340.1',
 '1341.5',
 '1345.55',
 '1345.65',
 '1346.2',
 '1346.3',
 '1346.9',
 '1348.95',
 '135.2',
 '135.75',
 '1355.1',
 '1355.45',
 '1356.3',
 '1358.85',
 '1359.45',
 '1359.5',
 '1359.7',
 '136.75',
 '1363.25',
 '1363.45',
 '1364.75',
 '1367.75',
 '1369.8',
 '137.25',
 '137.6',
 '137.85',
 '137.95',
 '1370.35',
 '1373',
 '1374.2',
 '1375.6',
 '1377.7',
 '1378.25',
 '1378.45',
 '1379.6',
 '1379.8',
 '1381.2',
 '1381.8',
 '1382.9',
 '1383.6',
 '1384.75',
 '1387',
 '1388.45',
 '1389.2',
 '1389.6',
 '1389.85',
 '139.05',
 '139.4',
 '139.75',
 '1390.6',
 '1391.65',
 '1392.25',
 '1396.25',
 '1398.25',
 '1398.6',
 '140.1',
 '1400.55',
 '1400.85',
 '1403.1',
 '1405.3',
 '1406',
 '1406.9',
 '141.1',
 '141.45',
 '141.5',
 '141.7',
 '1410.25',
 '1411.2',
 '1411.9',
 '1412.65',
 '1414.45',
 '1414.8',
 '1415.55',
 '1415.85',
 '1416.2',
 '1416.5',
 '1416.75',
 '1417.9',
 '142.35',
 '1421.75',
 '1421.9',
 '1423.15',
 '1423.85',
 '1424.2',
 '1424.6',
 '1424.9',
 '1424.95',
 '1425.45',
 '1426.4',
 '1427.55',
 '1429.65',
 '143.65',
 '1430.05',
 '1430.25',
 '1430.95',
 '1433.8',
 '1434.1',
 '1438.05',
 '1439.35',
 '144',
 '144.15',
 '144.35',
 '144.8',
 '1440.75',
 '1441.65',
 '1441.95',
 '1442',
 '1442.2',
 '1442.65',
 '1443.65',
 '1445.2',
 '1445.3',
 '1445.95',
 '145',
 '1451.6',
 '1451.9',
 '1454.15',
 '1457.25',
 '1459.35',
 '146.05',
 '146.6',
 '1460.65',
 '1461.15',
 '1461.45',
 '1462.05',
 '1463.5',
 '1463.7',
 '1465.75',
 '1466.1',
 '1468.75',
 '147.15',
 '147.5',
 '147.55',
 '147.8',
 '1474.35',
 '1478.85',
 '148.05',
 '1482.3',
 '1483.25',
 '149.55',
 '1490.4',
 '1493.1',
 '1493.2',
 '1493.55',
 '1493.75',
 '1495.1',
 '1496.9',
 '1497.05',
 '1497.9',
 '1498.2',
 '1498.35',
 '150.35',
 '150.6',
 '1500.5',
 '1501.75',
 '1502.25',
 '1505.15',
 '1505.35',
 '1505.45',
 '1506.4',
 '1507',
 '1509.9',
 '151.3',
 '151.65',
 '151.75',
 '1510.3',
 '1510.5',
 '1511.2',
 '1513.6',
 '1514.85',
 '1515.1',
 '1519',
 '152.3',
 '152.45',
 '152.6',
 '1522.65',
 '1524.85',
 '1529.2',
 '153.8',
 '153.95',
 '1531.4',
 '1534.05',
 '1537.85',
 '1538.6',
 '1539.75',
 '1539.8',
 '154.3',
 '154.8',
 '1540.05',
 '1540.2',
 '1544.05',
 '1545.4',
 '1548.65',
 '1549.75',
 '155.35',
 '155.8',
 '155.9',
 '1553.2',
 '1553.9',
 '1554',
 '1554.9',
 '1556.85',
 '1558.65',
 '1559.15',
 '1559.25',
 '1559.3',
 '1559.45',
 '156.1',
 '1563.95',
 '1565.7',
 '1566.9',
 '1567',
 '157.55',
 '1573.7',
 '1574.5',
 '158.35',
 '158.4',
 '1580.1',
 '1581.2',
 '1581.95',
 '1582.75',
 '1583.5',
 '1584.8',
 '1588.7',
 '159.15',
 '159.2',
 '159.35',
 '159.45',
 '1592.35',
 '1593.1',
 '1594.75',
 '1595.5',
 '1597.05',
 '1597.4',
 '160.75',
 '1607.2',
 '1608.15',
 '161.45',
 '161.5',
 '161.65',
 '161.95',
 '1611.65',
 '1614.05',
 '1614.2',
 '1617.5',
 '1618.2',
 '1620.2',
 '1620.45',
 '1621.35',
 '1623.15',
 '1625.65',
 '1626.05',
 '1629.2',
 '163.2',
 '163.55',
 '163.6',
 '163.7',
 '1630.4',
 '1633',
 '1636.95',
 '1637.3',
 '1639.3',
 '164.3',
 '1641.3',
 '1642.75',
 '1643.25',
 '1648.45',
 '165',
 '165.2',
 '165.45',
 '165.5',
 '1652.95',
 '1653.45',
 '1653.85',
 '1654.45',
 '1654.7',
 '1654.85',
 '1662.05',
 '1663.5',
 '1664.3',
 '1669.4',
 '167.2',
 '167.3',
 '167.5',
 '1671.6',
 '1672.1',
 '1672.15',
 '1672.35',
 '1673.4',
 '1673.8',
 '1679.25',
 '1679.4',
 '1679.65',
 '168.15',
 '168.2',
 '168.5',
 '1680.25',
 '1681.6',
 '1683.6',
 '1683.7',
 '1685.9',
 '1686.15',
 '1686.85',
 '1688.9',
 '169.05',
 '169.45',
 '169.65',
 '169.8',
 '1691.9',
 '1697.7',
 '170.85',
 '1702.9',
 '1706.45',
 '1709.1',
 '1710.15',
 '1713.1',
 '1715.15',
 '1718.35',
 '1719.15',
 '1725',
 '1725.95',
 '1728.2',
 '1730.35',
 '1733.15',
 '1734.5',
 '1738.9',
 '174.2',
 '174.3',
 '174.45',
 '174.7',
 '174.8',
 '1742.45',
 '1742.5',
 '1742.75',
 '1742.95',
 '1743.5',
 '1743.9',
 '1745.2',
 '1745.5',
 '1748.55',
 '1750.7',
 '1750.85',
 '1753',
 '1756.6',
 '1758.6',
 '1758.9',
 '1759.4',
 '1759.55',
 '176.3',
 '1761.45',
 '1763.55',
 '1764.75',
 '1766.75',
 '1769.6',
 '177.4',
 '1772.25',
 '1776',
 '1776.45',
 '1776.95',
 '1777.6',
 '1779.95',
 '178.1',
 '178.5',
 '178.7',
 '178.8',
 '178.85',
 '1782',
 '1782.4',
 '1783.6',
 '1783.75',
 '1784.5',
 '1784.9',
 '1789.25',
 '1789.65',
 '179.25',
 '179.35',
 '1790.15',
 '1790.6',
 '1790.8',
 '1794.8',
 '1796.55',
 '1797.1',
 '1797.75',
 '1799.3',
 '18.85',
 '180.3',
 '180.7',
 '1801.9',
 '1802.55',
 '1806.35',
 '1808.7',
 '1809.35',
 '181.1',
 '181.5',
 '181.65',
 '181.7',
 '181.8',
 '1810.85',
 '1813.1',
 '1813.35',
 '1815',
 '1815.3',
 '1815.65',
 '1816.2',
 '1816.75',
 '1818.9',
 '1820.45',
 '1821.8',
 '183.15',
 '183.75',
 '1832.4',
 '1834.15',
 '1835.3',
 '1836.25',
 '1836.9',
 '1837.9',
 '1838.15',
 '184.65',
 '184.95',
 '1841.2',
 '1842.8',
 '1843.05',
 '1846.65',
 '1847.55',
 '1849.2',
 '185.4',
 '185.6',
 '1850.65',
 '1851.45',
 '1852.85',
 '1856.4',
 '1857.25',
 '1857.3',
 '1859.2',
 '186.05',
 '186.15',
 '186.3',
 '1861.5',
 '1862.9',
 '1863.8',
 '1864.65',
 '1866.45',
 '1867.7',
 '1868.4',
 '187.75',
 '1871.15',
 '1871.85',
 '1872.2',
 '1879.25',
 '188.7',
 '1882.55',
 '1882.8',
 '1886.25',
 '1886.4',
 '1887',
 '1888.25',
 '1888.45',
 '189.1',
 '189.2',
 '189.95',
 '19.05',
 '19.1',
 '19.15',
 '19.2',
 '19.25',
 '19.3',
 '19.4',
 '19.45',
 '19.5',
 '19.55',
 '19.6',
 '19.65',
 '19.7',
 '19.75',
 '19.8',
 '19.85',
 '19.9',
 '19.95',
 '190.05',
 '190.5',
 '1901',
 '1901.05',
 '1902',
 '1905.7',
 '1907.85',
 '191.05',
 '191.1',
 '1910.6',
 '1911.5',
 '1912.15',
 '1914.9',
 '1916.2',
 '1917.1',
 '1923.85',
 '1924.1',
 '1927.3',
 '1928.7',
 '1929',
 '1929.35',
 '193.6',
 '193.8',
 '1931.3',
 '1931.75',
 '1932.75',
 '1934.45',
 '1937.4',
 '194.55',
 '1940.8',
 '1940.85',
 '1941.5',
 '1943.2',
 '1943.9',
 '1948.35',
 '195.05',
 '195.65',
 '1951',
 '1952.25',
 '1956.4',
 '1958.95',
 '1959.5',
 '196.15',
 '196.35',
 '197.7',
 '1970.5',
 '1971.15',
 '1972.35',
 '1973.75',
 '1974.8',
 '1975.85',
 '1978.65',
 '198',
 '198.1',
 '198.5',
 '198.6',
 '1982.1',
 '1982.6',
 '199.75',
 '199.85',
 '1990.5',
 '1992.55',
 '1993.8',
 '1994.3',
 '20',
 '20.05',
 '20.1',
 '20.2',
 '20.25',
 '20.3',
 '20.35',
 '20.4',
 '20.45',
 '20.5',
 '20.55',
 '20.75',
 '20.8',
 '20.85',
 '20.95',
 '200.2',
 '2006.1',
 '2006.95',
 '2007.25',
 '2007.85',
 '201',
 '201.95',
 '2010.55',
 '2010.95',
 '2011.4',
 '2012.7',
 '2015.35',
 '2016.3',
 '2016.45',
 '2019.8',
 '202.15',
 '202.25',
 '202.3',
 '2020.9',
 '2021.2',
 '2024.1',
 '2025.1',
 '2028.8',
 '2029.05',
 '203.95',
 '2031.95',
 '2032.3',
 '2033.85',
 '2036.55',
 '2043.45',
 '2048.8',
 '2053.05',
 '206.15',
 '2065.15',
 '2065.4',
 '207.35',
 '207.4',
 '2070.6',
 '2072.75',
 '2077.95',
 '2078.95',
 '208.25',
 '208.7',
 '208.85',
 '2080.1',
 '2083.1',
 '2088.45',
 '209.9',
 '2092.9',
 '2093.4',
 '2093.9',
 '2096.1',
 '210.3',
 '210.65',
 '210.75',
 '2104.55',
 '2106.05',
 '2107.15',
 '2108.35',
 '2109.35',
 '211.95',
 '2111.45',
 '2117.2',
 '2117.25',
 '212.3',
 '212.4',
 '2122.45',
 '213.35',
 '2130.55',
 '2135.5',
 '2139.1',
 '2139.2',
 '214.55',
 '214.75',
 '2142.8',
 '2151.6',
 '2157.3',
 '2157.5',
 '216.2',
 '216.75',
 '216.9',
 '2162.6',
 '2168.15',
 '2169.4',
 '217.45',
 '217.5',
 '217.55',
 '2172.05',
 '218.55',
 '2180.55',
 '2181.75',
 '2184.6',
 '2186.4',
 '2187.15',
 '2188.5',
 '219.35',
 '2191.15',
 '2191.7',
 '2193',
 '2198.3',
 '2199.05',
 '220.1',
 '220.4',
 '220.45',
 '220.6',
 '220.65',
 '220.75',
 '220.8',
 '220.95',
 '2201.75',
 '2203.1',
 '2204.35',
 '2208.05',
 '2208.75',
 '2209.15',
 '221.35',
 '221.7',
 '221.9',
 '2210.2',
 '222.3',
 '222.65',
 '2221.55',
 '2224.5',
 '2227.8',
 '223.15',
 '223.6',
 ...]

In [8]:
train['Total_Payment'] = train['Total_Payment'].astype('float64')

In [9]:
test['Total_Payment'] = test['Total_Payment'].astype('float64')

In [10]:
params_xgb = {
    "objective": "binary:logistic",
    "eval_metric": 'logloss',
    "eta": 0.05,
    "max_depth": 2,
    "subsample": 0.8,
    "colsample_bytree": 0.8,
    "verbosity": 0,
    "silent": True,
}
num_boost_round = 500
early_stopping_rounds = 10

In [11]:
X = train.drop('Leave_Next_Month', axis=1)
X = X.drop('id', axis=1)
X = X.drop('Monthly_Payment', axis=1)
X = X.drop('Total_Payment', axis=1)
y = train['Leave_Next_Month']


label_encoders = []
X_encoded = pd.DataFrame()
for column in X.columns:
    label_encoder = LabelEncoder()
    X_encoded[column] = label_encoder.fit_transform(X[column])
    label_encoders.append(label_encoder)

X_encoded["Monthly_Payment"] = train['Monthly_Payment']
X_encoded["Total_Payment"] = train['Total_Payment']    

X_test = test

X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

label_encoders = []
test_to_encode = test.drop("id", axis=1)
test_to_encode = test_to_encode.drop('Monthly_Payment', axis=1)
test_to_encode = test_to_encode.drop('Total_Payment', axis=1)

X_encoded_test = pd.DataFrame()
for column in test_to_encode.columns:
    label_encoder = LabelEncoder()
    X_encoded_test[column] = label_encoder.fit_transform(test_to_encode[column])
    label_encoders.append(label_encoder)

X_encoded_test["Monthly_Payment"] = test['Monthly_Payment']
X_encoded_test["Total_Payment"] = test['Total_Payment']

In [12]:
dtrain = xgb.DMatrix(X_train.values, y_train.values)
dvalid = xgb.DMatrix(X_test.values, y_test.values)
watchlist = [(dtrain, 'train'), (dvalid, 'eval')]
gbm = xgb.train(params_xgb, dtrain, num_boost_round, evals=watchlist,
                early_stopping_rounds=early_stopping_rounds, verbose_eval=10)

[0]	train-logloss:0.57605	eval-logloss:0.54953
[10]	train-logloss:0.50725	eval-logloss:0.48300
[20]	train-logloss:0.47103	eval-logloss:0.44801
[30]	train-logloss:0.45112	eval-logloss:0.42900
[40]	train-logloss:0.43729	eval-logloss:0.41716
[50]	train-logloss:0.42690	eval-logloss:0.40677
[60]	train-logloss:0.41978	eval-logloss:0.40060
[70]	train-logloss:0.41402	eval-logloss:0.39508
[80]	train-logloss:0.40967	eval-logloss:0.39326
[90]	train-logloss:0.40622	eval-logloss:0.39037
[100]	train-logloss:0.40313	eval-logloss:0.38750
[110]	train-logloss:0.40029	eval-logloss:0.38623
[120]	train-logloss:0.39822	eval-logloss:0.38544
[130]	train-logloss:0.39634	eval-logloss:0.38374
[140]	train-logloss:0.39468	eval-logloss:0.38324
[150]	train-logloss:0.39291	eval-logloss:0.38289
[155]	train-logloss:0.39212	eval-logloss:0.38327

In [13]:
pred = gbm.predict(xgb.DMatrix(X_encoded_test.values))

In [14]:
sample = pd.read_csv('sample_submission.csv')
print(sample.axes[0])
print(sample.axes[1])
sample

RangeIndex(start=0, stop=3522, step=1)
Index(['id', 'Leave_Next_Month'], dtype='object')

        id  Leave_Next_Month
0        0               0.5
1        1               0.5
2        2               0.5
3        3               0.5
4        5               0.5
...    ...               ...
3517  7032               0.5
3518  7034               0.5
3519  7037               0.5
3520  7039               0.5
3521  7042               0.5

[3522 rows x 2 columns]

In [15]:
import csv

with open("result.csv", "w", newline="") as f:

    writer = csv.writer(f)

    writer.writerow(["id", "Leave_Next_Month"])
    for i in range(len(pred)):    
        writer.writerow([test["id"][i], pred[i]]) 
result = pd.read_csv('result.csv')
result

        id  Leave_Next_Month
0        0          0.706786
1        1          0.062429
2        2          0.288643
3        3          0.045938
4        5          0.810573
...    ...               ...
3517  7032          0.872861
3518  7034          0.264855
3519  7037          0.009656
3520  7039          0.084899
3521  7042          0.085036

[3522 rows x 2 columns]